/*style.css*/

body {

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    
    height: 30px;
    text-decoration: none;
    padding: 20px;
}

button {
    background-color: #3882F6;
    border-radius: 10pc;
    color: white;
    padding: 9px;
}
a {
    color: white;
    list-style: none;
    text-decoration: none;
    margin: 12px;
}


.container-one {
    display: flex;
    
    background-color: #1F2937;
    align-items: center;
     
    flex-shrink: 1;
    justify-content: space-evenly;
    color: #F9FAF9;
    
}

.container-one img{
    
    width:400px;
    height: 220px;
    padding: 40px;
}

.info-one {
    width: 400px;
    height: 220px;
    padding: 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
     
     
}


.hero {
    color: #F9FAF9;
    font-size: 48px;
    font-weight: extra bold;
    line-height: .70;
}
.secondary {
    font-size: 14px;
    color: #E5E7EB;
}

.container-two  {
     
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-two img {
    padding: 30px;
    width: 150px;
    height: 100px;
    margin: 0px;
}

.container-two p {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
}
.hero2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
    padding: 30px;
}

.photos-descriptions {
    display: flex;
    width: 40px;
    justify-content: center;
    text-align: center;
}

.container-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.quote {
    font-size: 36px;
    font-weight: em;
}

.person {
    display: flex;
    align-items: flex-end;
}

.container-four {
    background-color: #3882F6;
    
}

.footer {
    background-color: #1F2937;
    color:#E5E7EB;
    display: flex;
    justify-content: center;
}