/*style.css*/

body {

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 12px;
    height: 60px;
    text-decoration: none;
}

a, ul {
    color: white;
    list-style: none;
    text-decoration: none;
}

.right-links {
    display: flex;
}

.container-one {
    display: flex;
     
    background-color: #1F2937;
    align-items: center;
    justify-content: space-around;
    color: #F9FAF9;
}
.hero {
    color: #F9FAF9;
    font-size: 48px;
    font-weight: extra bold;
}
.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.container-two  {
     
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
}

.photos-descriptions {
    display: flex;
    width: 60px;
    justify-content: center;
}

.container-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.quote {
    font-size: 36px;
    font-weight: em;
}

.person {
    display: flex;
    align-items: flex-end;
}