/*style.css*/

body {

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 24px;
    height: 30px;
    text-decoration: none;
    padding: 20px;
}

button {
    background-color: #3882F6;
     
    color: white;
    padding: 9px;
    width: 125px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 400;
    
}
a {
    color: white;
    list-style: none;
    text-decoration: none;
    margin: 12px;
}


.container-one {
    display: flex;
    
    background-color: #1F2937;
    align-items: center;
     
    flex-shrink: 1;
    justify-content: space-evenly;
    color: #F9FAF9;
    
}

.container-one img{
    
    width:400px;
    height: 220px;
    padding: 40px;
}

.info-one {
    width: 400px;
    height: 220px;
    padding: 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
     
     
}


.hero {
    color: #F9FAF9;
    font-size: 48px;
    font-weight: extra bold;
    line-height: .70;
}
.secondary {
    font-size: 22px;
    color: #E5E7EB;
}

.container-two  {
     
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
     
}
.container-two img {
     
    width: 190px;
    height: 130px;
    margin: 0px;
    border-radius: 10px;
    border: solid #3882F6 2px;
    margin-left: 60px;
    margin-right: 60px;
}

.container-two p {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
     
}
.hero2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
    padding: 30px;
}

.photos-descriptions {
    display: flex;
    width: 30px;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
    font-size: 22px;
}

.container-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    padding: 100px;
    padding-bottom: 0;
    display: flex;
    max-width: 1400px;
    
     
    
}

.person {
    display: flex;
    padding-bottom: 100px;
    margin-left: 600px;
     
    font-size: 24px;
     
     
}

.container-four {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.call {
    background-color: #3882F6;
    margin: 100px;
    display: flex;
    justify-content: space-around;
    width: 1400px;
    padding: 75px;
    border-radius: 15px;
    color: white;
    gap: 30px;
    align-items: center;
    height: 80px;
}

.call button {
    height: 60px;
}

.footer {
    background-color: #1F2937;
    color:#E5E7EB;
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 20px;
}